<h2>Input field</h2>

<form id="comp-01-input-field">
    <fieldset>
        <legend>Text fields</legend>
        <span data-code-snippet>
            <label for="std-txt">Standard text field</label>
            <input id="std-txt" type="text" placeholder="Your placeholder">

            <label for="std-disabled-txt">Standard disabled text field</label>
            <input id="std-disabled-txt" type="text" disabled placeholder="Your placeholder">
        </span>

    </fieldset>
    
</form>

<pre>
<code id="comp-01-input-field-code" class="language-markup">

</code>
</pre>


<h3>Further reading</h3>
<p><a href="http://mobileinputtypes.com/" rel="external">Input types and corresponding keyboards</a></p>


<script type="text/javascript">
    
    var htmlString = $('#comp-01-input-field [data-code-snippet]').html();
    $('#comp-01-input-field-code').text(htmlString);
    Prism.highlightAll();

</script>


