<form id="comp-02-radio-group">
    <fieldset class="inline">

        <legend>Do you already have a personal user account?</legend>

        <label class="block-label" for="radio-inline-1"></label>
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
        
        <label class="block-label" for="radio-inline-2"></label>
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No

    </fieldset>
</form>

<pre>
    <code id="comp-02-radio-group-code" class="language-markup">

    </code>
</pre>

<script type="text/javascript">
    var htmlString = $('#comp-02-radio-group').html();
    $('#comp-02-radio-group-code').text(htmlString);
    Prism.highlightAll();
</script>