<h2>Radio buttons</h2>

<form id="comp-02-radio-group">

        <span data-code-snippet>
            <div class="field-group">
                <ul class="radio-group">
                    <li>
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        <label class="radio-label" for="radio-inline-1">Yes</label>
                   </li>
                   <li>
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        <label class="radio-label" for="radio-inline-2">No</label>
                    </li>
                </ul>
            </div>
        </span>
</form>

<pre>
    <code id="comp-02-radio-group-code" class="language-markup">

    </code>
</pre>

<script type="text/javascript">
    var htmlString = $('#comp-02-radio-group [data-code-snippet]').html();
    $('#comp-02-radio-group-code').text(htmlString);
    Prism.highlightAll();
</script>