<form id="comp-01-input-field">
    <fieldset>
        <legend>Text fields</legend>
        <label for="std-txt">Standard text field</label>
        <input id="std-txt" type="text" placeholder="Your placeholder">

        <label for="std-disabled-txt">Standard disabled text field</label>
        <input id="std-disabled-txt" type="text" disabled placeholder="Your placeholder">
    </fieldset>
    <h3>Types for keyboards</h3>
    <p>text, email, number, tel, url, date</p>
</form>

<pre>
<code>

</code>
</pre>
<script type="text/javascript">
    
    var htmlString = $('#comp-01-input-field').html();
    $('code').text(htmlString);

</script>